<div class="container">
  <h2 class="title-lg mb">Questions</h2>

  <% @questions.each do |question| %>
    <% hidden_klass = question.hidden ? "question-hidden" : "question-visible" %>
    <%= content_tag :p, class: ["mb-sm", hidden_klass] do %>
        <%= link_to "Question number #{question.id}", question_path(question.id) %>
      <% end %>
  <% end %>

  <p  class="mt">
    <%= link_to "Create a new question", new_question_path, class: "button button-main" %> 
  </p>
</div>
